* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--all_black);
  font-family: "PT Root UI";
  font-style: normal;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
