body {
  font-family: "PT Root UI";
}

.O_Search {
  display: flex;
  margin: 50px;
  gap: 10px;
}

.A_SearchInput {
  border: 1px solid cornflowerblue;
  border-radius: 0;
  width: 250px;
  padding: 10px 8px;

  &:focus {
    border-color: inherit;
    box-shadow: none;
    outline: none;
  }
}
.A_Button {
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;

  &:hover:not(.disabled) {
    background-color: lighten(cornflowerblue, 10%);
  }

  &.disabled {
    background-color: lightgray;
    color: grey;
    cursor: default;
  }
}
