.S_navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

  & > * {
    margin: 10px 0;
  }
}
.S_Content {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.O_contentCard {
  width: 320px;
  min-height: 350px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(40, 40, 40);
  font-family: Arial, Helvetica, sans-serif;

  &.hidden {
    display: none;
  }

  .A_contentCardTitle {
    font-size: 21px;
    padding: 0 10px;
  }

  .A_contentCardDescription {
    font-size: 16px;
    padding: 0 10px;
  }

  .C_contentCardTags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 10px 10px;

    .A_contentCardTag {
      background-color: cornflowerblue;
      color: white;
      font-size: 12px;
      line-height: 12px;
      padding: 2px 5px;
      border-radius: 12px;
    }
  }
}
