.S_MenuBar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;

  .C_MainMenu {
    display: flex;
    gap: 20px;
  }
}
